
#swarmatron {
    text-align:center;
    width:90%;
    max-width:1000px;
    margin-top:50px;
    background:#88aaaa;
}


#mainpanel {
    position:relative;
    margin:auto;
    margin-bottom:0;
    text-align: center;
    background:#88aaaa;
    background:linear-gradient(
      to right, 
      #8aa 99.9%, #333 0.1%
    );
    width:95%;
    padding:20px;
    border-top: 10px #999 ridge;
    border-left: 10px #999 ridge;
    border-right: 10px #aaa ridge;
    border-radius:10px 10px 0 0;
}


#ribbonpanel {
    position:relative;
    margin:auto;
    margin-top:0;
    text-align: center;
    background:#88aaaa;
    background:linear-gradient(
      to right, 
      #8aa 99.9%, #333 0.1%
    );
    width:95%;
    padding:20px;
    border-bottom: 10px #999 ridge;
    border-left: 10px #999 ridge;
    border-right: 10px #aaa ridge;
    border-top:1px #366 solid;
    border-radius:0 0 10px 10px;
}

#ribbonholder{
    margin:auto;
    text-align:center;
    width:90%;
}

.mainknobrow, .mainswitchrow {
    display:inline-block;
    float:none;
    margin:auto;
    clear:both;
    margin-top:20px;
}

:host >>> .mainknobrow li {
    float:left;
    margin:10px 40px;
}

:host >>> .mainswitchrow li {
    float:left;
    margin:10px 15px;
}   

:host >>> .mainswitchrow li.knob, .mainswitchrow li.toggleswitch {
    margin-top:15px;
}

:host >>> .mainswitchrow li.knob {
    margin-right:50px;
}

:host >>> .mainswitchrow li.toggleswitch {
    margin-left:50px;
}

select {
    background:#609090;
    background-image: radial-gradient(farthest-corner at 10px 5px , #699 0%, #366 75%);
    border:none;
    border:1px #7aa outset;
    border-radius:4px;
    color:#fa3;
    font: 0.8em 'Nixie One', cursive;
    text-shadow: #853 1px 2px 1px;
}

.saver { 
    margin-top:20px;
}

.saver span {
    padding-right:5px;
    color:eff;
    font: 0.8em 'Nixie One', cursive;
}