<div id="swarmatron">
    <div id="mainpanel" class="group">
        <label class="voices">VOICES 1 - 8 </label>

        <ul class="mainswitchrow">
            <volume (setvol)='setVolume($event)'></volume>
            <li *ngFor="let v of this.vx.voices; let i=index"><push-switch (pushVal) = 'toggleVoice($event, i)' [powered] = 'this.powered'></push-switch></li>
            <toggle-switch (toggleVal)='togglePower($event)'></toggle-switch>
        </ul>

        <ul class="mainknobrow">
            <filter-control (cutval)="setKnobCut($event)" 
            (qval)="setQ($event)"
            (trackval)=setTrack($event)></filter-control>
            <filter-env (filterN) = "setFilterN($event)"></filter-env>
            <drive (drive) = "setDrive($event)"></drive>
        </ul>
        <ul class="mainknobrow">
            <envelope-control (att) = "setAtt($event)"
                (dec) = "setDec($event)"
                (sus) = "setSus($event)"
                (rel) = "setRel($event)"></envelope-control>
        </ul>
        
    </div>
    <div id="ribbonpanel">
        <div class="presetmanager">
            <span class="css-select-moz">
                <select [(ngModel)]='selectedPreset' (ngModelChange)='setToPresets($event)'>
                    <option *ngFor="let p of presets" [ngValue]="p">{{p.name}}</option>
                </select>
            </span>
            <div class="savepreset" #save>
                <button (click)="presetButton()">Save Settings</button>
                <span [hidden]="true" class="savedialog">
                    <input type="text" (keyup) = "savebutton.disabled=false"  #presetName placeholder="name"/>
                    <button #savebutton [disabled]="true" (click) = "savePreset(presetName.value)">Save</button>
                </span>
            </div>
        </div>
        <div id="ribbonholder">
            <pitch-ribbon (setCenterNote)="setCenterNote($event)" (gate)="gate($event)"></pitch-ribbon>
            <swarm-ribbon (setSwarm) = "setSwarmInterval($event)"></swarm-ribbon>
        </div>
    </div>
</div>